.playlist-container {
    overflow-y: auto;
    max-height: 100vh;


    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }


    // scrollbar-width: thin;
    // scrollbar-color: rgba(255, 255, 255, 0.3) transparent;

    .icon-header {
        color: rgb(193, 190, 190);
        display: flex;
        justify-content: space-between;
        padding: 0 15px;

        .icon-search {
            padding: 8px;
            cursor: pointer;

            &:hover {
                color: white;
                border-radius: 50%;
                background-color: rgba(105, 105, 105, 0.849);
            }
        }

        .recent {
            cursor: pointer;
            transition: transform 0.2s ease-in-out;

            &:hover {
                color: white;
                transform: scale(1.1);
            }
        }
    }

    .content-playlist {
        border-radius: 10px;
        padding: 6px;
        cursor: pointer;

        &:hover {
            background-color: rgba(62, 61, 61, 0.742);
        }

        .info-playlist {
            display: flex;
            color: white;

            .name-playlist {
                width: 260px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                /* Ẩn phần nội dung vượt quá */
                text-overflow: ellipsis;
            }

            .type {
                color: rgb(193, 190, 190);
            }

            img {
                height: 60px;
                width: 60px;
            }
        }
    }

}