.container-Home {
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    gap: 9px;

    .content-home-left {
        width: 24%;
        background-color: rgba(42, 41, 41, 0.848);
        border-radius: 10px;
    }

    .content-home-center {
        width: 48%;
        background-color: rgba(42, 41, 41, 0.848);
        border-radius: 10px;
    }

    .content-home-right {
        width: 24%;
        background-color: rgba(42, 41, 41, 0.848);
        border-radius: 10px;
    }
}