.container-Home {
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    gap: 9px;

    .content-home-left {
        width: 24%;
        background-color: rgba(29, 28, 28, 0.848);
        border-radius: 10px;
    }

    .content-home-center {
        width: 75%;
        background-color: rgba(29, 28, 28, 0.848);
        border-radius: 10px;
        overflow-y: auto;
        max-height: 100vh;


        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }

        &.with-right-nav {
            width: 54%;
        }
    }

    .content-home-right {
        width: 20%;
        background-color: rgba(29, 28, 28, 0.848);
        border-radius: 10px;
    }
}